body {
  	font-size: 18px;
	font-family: times, garamond, georgia;
	color: white;
	background-color: #231F20;
	margin: 0;
	padding: 0;
	line-height: 150%;
	max-width: 150em;
}
header {
  height: 9em;
}
h1 {
	font-size: 45px;
	font-family: tahoma;
	font-style: bold;
	color: rgb(48, 134, 48);
	margin: 0;
	padding: 0.7em;
	text-align: center;
	line-height: 150%;
}
.logo {
	height: 10%;
	padding: 2em;
	position: absolute;
}
nav {
	background-color: gray;
	color: black;
	padding: 1em;
	text-align: center;
}
.link:link {
	color: black;
	background-color: gray;
	padding: 1.1em;
	text-decoration: none;
	font-family: verdana;
}
.link:visited {
	color: black;
	background-color: gray;
}
.link:hover {
	color: black;
	background-color:rgb(48, 134, 48);
}
.link:active {
	background-color:rgb(79, 139, 79);
}
h2 {
  	font-size: 30px;
  	font-family: helvetica, arial, verdana;
  	letter-spacing: 6px;
  	font-weight: lighter;
}
.endlessforest {
	width: 100%;
}
p.caption {
	font-size: 9px;
	margin: 0px 0px 0px 5px;
	left: 0px;
}
.intro {
	text-align: center;
	height: 12em;
}
.outlands {
	color: black;
	background-color: white;
	height: 32em;
	padding: 2em;
	display: flex;
	justify-content: space-around;
	
}
.outlandsimage {
	height: 28em;
	max-width: 20em;
	width: 100%;
}
.krakatoa {
	color: red;
	background-color: black;
	height: 34em;
	padding: 2em;
	display: flex;
	justify-content: space-around;
}
.krakatoaimage {
	max-width: 30em;
	width: 100%;
}
iframe {
	height: 20em;
	max-width: 30em;
	width: 100%;
}
footer {
	height: 200px;
	background-color: gray;
	text-align: center;
	word-spacing: 5px;
	padding: 20px;
}
.flink {
	text-decoration: none;
}

/*About Section*/
section {
	width: 80%;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 20px;
	color: black;
	background-color: white;
}
p.section {
	width: 50%;
}

/*Contact Section*/
.contact {
	display: flex;
	justify-content: space-around;
}

/*More Section*/
.more {
	width: 80%;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 20px;
	color: black;
	background-color: white;
}
.morepoem {
	padding: 20px;
	margin: auto;
	margin-left: 7%;
	display: flex;
	justify-content: space-around;
}
.gallery {
	text-align: center;
}
.artwork {
	padding: 20px;
	margin: auto;
	margin-left: 7%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
