body {
	margin: 0px;
	padding: 0px;
}
h1 {
	background-color: gray;
	color: black;
	font-family: verdana, sans serif;
	width: 100%;
	padding: 10px;
	margin: 0px;
	text-align: center;
	position: fixed;
}
.endlessforest {
	width: 100%;
}
p.caption {
	font-size: 9px;
	margin: 0px 0px 0px 5px;
	left: 0px;
}
p {
	font-family: times new roman, serif;
	width: 500px;
	position: absolute;
	left: 50px;
}

	
