body {
	font-family: times, garamond, georgia;
	font-size: 14px;
	color: white;
	background-color: black;
	margin: 0px;
	padding: 0px;
}
h1 {
	background-color: gray;
	color: black;
	font-family: verdana, sans serif;
	width: 100%;
	padding: 10px;
	margin: 0px;
	text-align: center;
	position: fixed;
}
.endlessforest {
	width: 100%;
}
p.caption {
	font-size: 9px;
	margin: 0px 0px 0px 5px;
	left: 0px;
}
.intro {
	text-align: center;
	height: 300px;
	line-height: 150%
}
h2 {
	font-family: ebrima;
	letter-spacing: 3px;
}
.outlands {
	color: black;
	background-color: white;
	height: 500px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	
}
.outlandtext {
	line-height: 150%;
}
.krakatoa {
	color: red;
	background-color: black;
	height: 500px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	
}
.krakatoatext {
	line-height: 150%;
}
.krakatoaimage {
	height: 300px;
}
.fallingcradle {
	color: black;
	background-color: white;
	height: 500px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	
}
.fallingcradletext {
	line-height: 150%;
}

	
